body {
  background-color: pink;
}
h1 {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}
h2 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-size: 30px;
}

h3 {
  display: flex;
  justify-content: center;
}
