body {
  background-color: pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 10px;
}
button {
  border: none;
  font-size: 1rem;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  background-color: tomato;
  color: navy;
}
button:last-child {
  background-color: navy;
  color: tomato;
}
/* h1 {
  font-size: 3rem;
}
p {
  font-size: 20px;
  font-weight: bold; */
/* } */
/* section {
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* .box {
  width: 100px;
  height: 50px;
  background-color: orangered;
  color: black;
  line-height: 50px;
  text-align: center;
  margin: 10px;
  font-weight: bold;
}
.box1 {
  width: 100px;
  height: 50px;
  background-color: navy;
  color: orangered;
  line-height: 50px;
  text-align: center;
  margin: 10px;
  font-weight: bold;
} */
h2 {
  font-style: italic;
  visibility: hidden;
}
